{% extends 'home.html' %}

{% block head %}
<title>Cadastro</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">LAB CIEX</h1>

    <h2 class="container-fluid">Cadastro - Estante</h2>

    <div class="form">
        <form onsubmit="return validate()" method="POST" action="/post_estante">
            <label>Patrimonio: </label><input type="text" name="Patrimonio" id="Patrimonio" />
            <label>Número da sala: </label><input type="text" name="Sala_id" id="Sala_id" />
            <br>
            <button type="button" class="btn btn-default" onclick='location.href="update"'>Voltar</button>
            <input class="btn btn-success" type="submit" value="Cadastre" />
        </form>
    </div>
    <br>
    <br>
    <p class="alert-warning">Cadastre a estante</p><!--Se existe está ai-->
    <p class="alert-warning">Sala precisa existir para relacionar a estante</p>
    <aside>
        <ul class="mainmenu">
            <li><a href="http://fav.unb.br/"></li><span>FAV - FAV-UnB</span></a>
            <li><a  href="/institucional-da-fav"></li><span>Institucional da FAV</span></a>
            <li><a  href="/laboratorios"></li><span>Laboratórios</span></a>
        </ul>
    </aside>
</div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    document.getElementById("Patrimonio").focus();
    function validate(){
      var Patrimonio = document.getElementById("Patrimonio")
      var Sala_id = document.getElementById("Sala_id")
      if(Patrimonio.value == ""){
        alert("Coloque algum Patrimonio");
        return false;
      }
      else{
        true;
      }
    }
</script>

{% endblock %}
