{% extends 'home.html' %}

{% block head %}
<title>Pesquisa</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">ÁREA DE GESTÃO</h1>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <br>
    <div class="form">
        <p class="btn-info"><a href="{{ url_for('pesquisa_sala') }}">Pesquisar Sala </a></p><!--THE NAME OF FUNCTION NOT THE NAME OF ROUTE-->
        <p><a href="{{ url_for('pesquisa_pessoa') }}">Pesquisar Pessoa </a></p>
        <p class="btn-info"><a href="{{ url_for('pesquisa_projeto') }}">Pesquisar Projeto </a></p>
        <p><a href="{{ url_for('pesquisa_estante') }}">Pesquisar Estante </a></p>
        <p class="btn-info"><a href="{{ url_for('pesquisa_caixa') }}">Pesquisar Caixa </a></p>
        <p><a href="{{ url_for('pesquisa_animal') }}">Pesquisar Animal </a></p>
    </div>
    <br>
    <p style="font-size:30px">Destinado a melhoria da gestão do controle de animais, pesquisas, pesquisadores e outros colaboradores !</p>
    <br>
    <p class="btn-info"><a href="{{ url_for('cadastro') }}">Cadastrar </a></p><!--THE NAME OF FUNCTION NOT THE NAME OF ROUTE-->
    <p><a href="{{ url_for('delete') }}">Deletar </a></p><!--THE NAME OF FUNCTION NOT THE NAME OF ROUTE-->
    <p class="btn-info"><a href="{{ url_for('index') }}">ínicio </a></p><!--THE NAME OF FUNCTION NOT THE NAME OF ROUTE-->
    <aside>
        <ul class="mainmenu">
            <li><a href="http://fav.unb.br/"></li><span>FAV - FAV-UnB</span></a>
            <li><a  href="/institucional-da-fav"></li><span>Institucional da FAV</span></a>
            <li><a  href="/laboratorios"></li><span>Laboratórios</span></a>
        </ul>
    </aside>
</div>

<!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
</script>

{% endblock %}
