{% extends 'home.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Lab CIEX</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Cadastre os animais">
        </form>
    <p style="font-size:30px">Aplicação Web para cadastro, edição, recuperação e geração de relatórios acerca da movimentação de animais de experimentação no Biotério do Laboratório CIEX-UnB</p>
    <p style="font-size:30px">Destinado a melhoria da gestão do controle de animais, pesquisas, pesquisadores e outros colaboradores !</p>
    </div>
</div>
{% endblock %}