{% extends 'home.html' %}

{% block head %}
<title>Gerenciamento</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Área de gestão</h1>

    <div class="form">
        <!--<form action="/update" method="POST">
        <input type="text" name="animal" id="animal" />
            <input type="submit" value="Update  ">
        </form>-->

        <form action="/delete" method="POST">
        <input type="text" name="pesquisador" id="pesquisador" />
            <input type="submit" value="Delete   ">
        </form>

        <!--<form action="/pesquisa" method="POST">
        <input type="text" name="animal" id="animal" />
            <input type="submit" value="Pesquisa">
        </form>-->

    </div>
    <br>
    <p style="font-size:30px">Aplicação Web para cadastro, edição, recuperação e geração de relatórios acerca da movimentação de animais de experimentação no Biotério do Laboratório CIEX-UnB</p>
    <p style="font-size:30px">Destinado a melhoria da gestão do controle de animais, pesquisas, pesquisadores e outros colaboradores !</p>
    <br>
    <aside>
        <ul class="mainmenu">
            <li><a href="http://fav.unb.br/"></li><span>FAV - FAV-UnB</span></a>
            <li><a  href="/institucional-da-fav"></li><span>Institucional da FAV</span></a>
            <li><a  href="/laboratorios"></li><span>Laboratórios</span></a>
        </ul>
    </aside>
</div>

{% endblock %}